<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-3">

        <div class="row p-3">

            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">About Us</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">


                <h6 class="text-uppercase font-weight-bold">Call Us</h6>
                <p>7485451275
                </p>
                <h6 class="text-uppercase font-weight-bold">Send Us Mail</h6>
                <p>Example@gmail.com
                </p>


            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Keep In Touch</h6>
                <div class="social-network">
                    <ul class="d-flex text-center">
                        <li class="social"><i class="fa fa-facebook"></i></li>
                        <li class="social"><i class="fa fa-twitter"></i></li>
                        <li class="social"><i class="fa fa-youtube-play"></i></li>
                        <li class="social"><i class="fa fa-instagram"></i></li>
                        <li class="social"><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>


            </div>

        </div>
        <div class="row text-center d-flex justify-content-center">

            <div class="col-md-2 ">
                <h6 class="text-uppercase ">Home
                </h6>
            </div>

            <div class="col-md-2 ">
                <h6 class="text-uppercase ">Service
                </h6>
            </div>

            <div class="col-md-2 ">
                <h6 class="text-uppercase ">Success Stories
                </h6>
            </div>

            <div class="col-md-2 ">
                <h6 class="text-uppercase ">Download App
                </h6>
            </div>

            <div class="col-md-2 ">
                <h6 class="text-uppercase ">About Us
                </h6>
            </div>

        </div>
        <!-- Grid row-->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Patient System All Rights Reserved
        <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->