<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 fixed-top ">

    <div class="container">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#"> <i class="fa fa-phone text-light" aria-hidden="true"><span class="contact">(00) 000 111 2222</span></i>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fa fa-envelope text-light" aria-hidden="true"><span class="contact">example@gmail.com</span></i>

                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa fa-facebook-official text-light" aria-hidden="true"></i>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa fa-twitter text-light" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-youtube-play text-light" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram text-light" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa fa-linkedin text-light" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <img src="assets/img/personal-information-11.png" alt="logo" class="img-fluid mr-2">
        <a class="navbar-brand" href="#">Patient System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link active text-light" href=" # ">Home
                  <!-- <span class="sr-only ">(current)</span> -->
                </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">Service</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">Success Stories</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">Download App</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel ">

    <header class="masthead ">
        <div class="container h-110 ">
            <div class="row h-110 align-items-center ">

                <div class="col-12 text-center ">

                    <h1 class="font-weight-bold text-light mt-5">Lorem Ipsum is simply dummy text </h1>
                    <h6 class="lead font-weight-light text-light ">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,<br>by injected humour, or randomised words which don't look even slightly believable.</h6>
                    <div class="row justify-content-center ">
                        <div class="col-3 ml-auto ">
                            <button class="btn btn-primary btn-block text-light ">Lorem Ipsum</button>
                        </div>
                        <div class="col-3 mr-auto ">
                            <button class="btn btn-primary btn-block text-light ">Lorem Ipsum</button>
                        </div>
                    </div>
                    <img src="assets/img/ModerniMac.png " class="img-fluid py-2" alt="mypc ">

                </div>

            </div>
        </div>

    </header>
</div>

<!-- Page Content -->
<div class="panel home mt-5 ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-4 col-6 ml-auto ">
                <div class=" ">
                    <div class="icon ">
                        <span class="square "><i class="fa fa-envelope-o text-light " aria-hidden="true "></i></span>
                        <div class="ml-2 ">
                            <h5 class=" ">Lorem Ipsum</h5>
                        </div>
                    </div>

                    <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                </div>
                <div class="clearfix "></div>

                <div class=" ">
                    <div class="icon "><span class="square "><i class="fa fa-map-marker text-light " aria-hidden="true "></i></span>
                        <div class="ml-2 ">
                            <h5 class=" ">Lorem Ipsum</h5>
                        </div>
                    </div>
                    <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                </div>
                <div class="clearfix "></div>

                <div class=" ">
                    <div class="icon "><span class="square "><i class="fa fa-file-text-o text-light " aria-hidden="true "></i></span>
                        <div class="ml-2 ">
                            <h5 class=" ">Lorem Ipsum</h5>
                        </div>

                    </div>
                    <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                </div>
                <div class="clearfix "></div>


            </div>
            <div class="col-md-4 col-6 mr-auto ">
                <div class=" ">
                    <div class="icon "><span class="square "><i class="fa fa-diamond text-light " aria-hidden="true "></i></span>
                        <div class="ml-2 ">
                            <h5 class=" ">Lorem Ipsum</h5>
                        </div>
                    </div>
                    <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                </div>
                <div class="clearfix "></div>

                <div class=" ">
                    <div class="icon "><span class="square "><i class="fa fa-bolt text-light " aria-hidden="true "></i></span>
                        <div class="ml-2 ">
                            <h5 class=" ">Lorem Ipsum</h5>
                        </div>
                    </div>
                    <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                </div>
                <div class="clearfix "></div>

                <div class=" ">
                    <div class="icon "><span class="square "><i class="fa fa-bell text-light " aria-hidden="true "></i></span>
                        <div class="ml-2 ">
                            <h5 class=" ">Lorem Ipsum</h5>
                        </div>

                    </div>
                    <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                </div>
                <div class="clearfix "></div>

            </div>
        </div>
    </div>
</div>
<!-- service -->
<section class=" panel services ">
    <div class="container mt-5 ">
        <div class="container px-5 mt-5 mb-5 ">
            <h3 class="title ">Services</h3>
            <p class="title-p ">Donec maximus erat quis magna tincidunt, et ullamcorper ex condimentum. Pellentesque volutpat lectus felis, sit amet dapibus tortor convallis sit amet. Quisque egestas sem quis augue porta, et iaculis massa consequat.</p>
        </div>
        <h5 class="title ">Lorem Ipsum</h5>
        <div class="row px-5 ">
            <div class="col-md-4 p-2 ">
                <div class="icon "><span class="dot dot-right "><i class="fa fa-user text-light " aria-hidden="true "></i></span><br>
                    <div class=" mt-4 ">
                        <h5 class="text-right text-justify ">Lorem Ipsum</h5>
                        <p class="text-right text-justify ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                    </div>
                </div>

                <div class="icon "><span class="dot dot-right "><i class="fa fa-id-card-o text-light " aria-hidden="true "></i></span><br>
                    <div class="mt-4 ">
                        <h5 class="text-right ">Lorem Ipsum</h5>
                        <p class="text-right ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                    </div>
                </div>

                <div class="icon "><span class="dot dot-right "><i class="fa fa-map-marker text-light " aria-hidden="true "></i></span><br>
                    <div class="mt-4 ">
                        <h5 class="text-right ">Lorem Ipsum</h5>
                        <p class="text-right ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                    </div>
                </div>


                <div class="clearfix "></div>
            </div>
            <div class="col-md-4 p-4 ">
                <div class="card h-100 ">
                    <div class="card-body ">
                        <div class="card-body text ">
                            <img src="assets/img/personal-information-8.png " alt="img " class="img-fluid ">
                            <h6 class="card-text font-weight-bold text-center ">Patient System</h6>
                        </div>


                    </div>
                </div>
                <!-- <div class="clearfix "></div> -->

            </div>
            <div class="col-md-4 p-2 ">
                <div class="icon "><span class="dot dot-left "><i class="fa fa-check-square-o text-light " aria-hidden="true "></i></span><br>
                    <div class="mt-4 ">
                        <h5 class="text-left text-justify ">Lorem Ipsum</h5>
                        <p class="text-left text-justify ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                    </div>
                </div>
                <div class="icon "><span class="dot dot-left "><i class="fa fa-arrow-right text-light " aria-hidden="true "></i></span><br>

                    <div class="mt-4 ">
                        <h5 class="text-left ">Lorem Ipsum</h5>
                        <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                    </div>
                </div>
                <div class="icon "><span class="dot dot-left "><i class="fa fa-file-text-o text-light " aria-hidden="true "></i></span><br>

                    <div class="mt-4 ">
                        <h5 class="text-left ">Lorem Ipsum</h5>
                        <p class="text-left ">Proin a diam et dui elit, orci urna vel id neque. Donec sed enim</p>
                    </div>
                </div>
                <div class="clearfix "></div>

            </div>

            <div class="clearfix "></div>

        </div>
        <!-- </div> -->
    </div>
</section>
<!-- service end -->
<!-- footer -->
<div class="panel footer ">
    <div class="container px-5 mt-5 ">

        <app-footer></app-footer>

    </div>
</div>
<!-- footer end -->
<!-- Page Content end -->