.btn {
    border: #590e9e;
    background-color: #590e9e;
    border-radius: 20px;
    width: 50%;
}

.btn-light {
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    #email {
        margin-top: 25px;
    }
}